In [1]:
# Slicing in an array
import array as abc
alist = [2,5,6,2,5,6,8,9,3,1,8,6,2,3,7,9]
num = abc.array ('i',alist)
print (num)

array('i', [2, 5, 6, 2, 5, 6, 8, 9, 3, 1, 8, 6, 2, 3, 7, 9])

In [2]:
print (num(5)) # error []

TypeError: 'array.array' object is not callable

In [22]:
print (num[5])

6

In [23]:
# Changing and adding elements
import array as abc
alist = [56,23,89,12,53,23,76]
num = abc.array ('i',alist)
print (num)

array('i', [56, 23, 89, 12, 53, 23, 76])

In [24]:
num[0] = 9999 #updating first element or zeroth indexed element
print (num)

array('i', [9999, 23, 89, 12, 53, 23, 76])

In [25]:
num[5,6] = 9090, 1234
print (num)

TypeError: array indices must be integers

In [26]:
num[5:7] = 9090, 1234, 5678
print (num)

TypeError: can only assign array (not "tuple") to array slice

In [27]:
num[5:7] = abc.array("i", [9090, 1234, 5678])
print (num)

array('i', [9999, 23, 89, 12, 53, 9090, 1234, 5678])

In [28]:
t = [45, 56, 54, 88]
print (t)
t.append (90)
print (t)

[45, 56, 54, 88]
[45, 56, 54, 88, 90]

In [29]:
t.append (90)
print (t)

[45, 56, 54, 88, 90, 90]

In [30]:
import array as xyz
num = xyz.array ('i',[1,2,3])
print (num)

array('i', [1, 2, 3])

In [31]:
num.append (6)
num.append (7)
num.append (9)
num.append (2)
print (num)

array('i', [1, 2, 3, 6, 7, 9, 2])

In [32]:
# using extend () method
num.extend ([99,999,9999])
# extend () method appends iterable to the end of the array
print (num)

array('i', [1, 2, 3, 6, 7, 9, 2, 99, 999, 9999])

In [33]:
import array as xyz
num = xyz.array ('i',[1,2,3])
print (num)
# using extend () method
num.extend ([99,999,9999])
# extend () method appends iterable to the end of the array
print (num)

array('i', [1, 2, 3])
array('i', [1, 2, 3, 99, 999, 9999])

In [34]:
num.extend ([99,999,9999])

In [35]:
print (num)

array('i', [1, 2, 3, 99, 999, 9999, 99, 999, 9999])

In [36]:
# Delete elements from an existing array
import array as pqr
x = pqr.array ('i',[1,2,3,4,5,6,7,8,9])
print (x)

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9])

In [37]:
# deleting 3rd element
del x[2] #0,1,2
print (x)

array('i', [1, 2, 4, 5, 6, 7, 8, 9])

In [38]:
del x[4:6]
print (x)

array('i', [1, 2, 4, 5, 8, 9])

In [39]:
del x[:]  # delete all the elements
print (x)

array('i')

In [40]:
x.append (5)
x.append (6)
x.append (7)
print (x)

array('i', [5, 6, 7])

In [41]:
del x # deleting the array variable
print (x)

NameError: name 'x' is not defined

In [42]:
import array as abc
alist = [56,23,89,12,53,23,76]
num = abc.array ('i',alist)
print (num)

array('i', [56, 23, 89, 12, 53, 23, 76])

In [43]:
num.remove (89)# element
print (num)

array('i', [56, 23, 12, 53, 23, 76])

In [44]:
num.pop (3) #indexed value
print (num)

array('i', [56, 23, 12, 23, 76])

In [45]:
# Slicing in an array
import array as abc
alist = [2,5,6,2,5,6,8,9,3,1,8,6,2,3,7,9]
num = abc.array ('i',alist)
print (num)

array('i', [2, 5, 6, 2, 5, 6, 8, 9, 3, 1, 8, 6, 2, 3, 7, 9])

In [46]:
print (num[13:7:-1])  # reverse

print (num[8:14])

array('i', [3, 2, 6, 8, 1, 3])
array('i', [3, 1, 8, 6, 2, 3])

In [47]:
print (num[-13:-7])

array('i', [2, 5, 6, 8, 9, 3])

In [48]:
print (num)

array('i', [2, 5, 6, 2, 5, 6, 8, 9, 3, 1, 8, 6, 2, 3, 7, 9])

In [49]:
num[6] = 1234
print(num)

array('i', [2, 5, 6, 2, 5, 6, 1234, 9, 3, 1, 8, 6, 2, 3, 7, 9])

In [50]:
num[7, 8] = 9883, 3434

TypeError: array indices must be integers

In [51]:
print (num)
num[7:8] = [9883, 3434]
print (num)

array('i', [2, 5, 6, 2, 5, 6, 1234, 9, 3, 1, 8, 6, 2, 3, 7, 9])

TypeError: can only assign array (not "list") to array slice

In [52]:
print (num)
num[7:9] = abc.array("i",[3333, 99])
print (num)

array('i', [2, 5, 6, 2, 5, 6, 1234, 9, 3, 1, 8, 6, 2, 3, 7, 9])
array('i', [2, 5, 6, 2, 5, 6, 1234, 3333, 99, 1, 8, 6, 2, 3, 7, 9])

In [53]:
import array as temp
x = temp.array ("i", [454, 676, 232, 87, 8575])
print (x)

array('i', [454, 676, 232, 87, 8575])

In [54]:
x[2:4] = temp.array ("i", [8898, 755])
print (x)

array('i', [454, 676, 8898, 755, 8575])

In [55]:
# append ()
x.append (444444)
x.append (99999)
print (x)

array('i', [454, 676, 8898, 755, 8575, 444444, 99999])

In [56]:
x.extend ([11111, 222222, 33333])
print (x)

array('i', [454, 676, 8898, 755, 8575, 444444, 99999, 11111, 222222, 33333])

In [57]:
import array as p
m = p.array ("i", [78, 45, 12, 23, 56, 89])
#print (m)
m.append(99)
print (m)

array('i', [78, 45, 12, 23, 56, 89, 99])

In [58]:
m.append(99)

In [59]:
print (m)

array('i', [78, 45, 12, 23, 56, 89, 99, 99])

In [60]:
m[4:5] = p.array ("i", [8989])
print (m)

array('i', [78, 45, 12, 23, 8989, 89, 99, 99])

In [61]:
m.insert(4, 47)
print (m)

array('i', [78, 45, 12, 23, 47, 8989, 89, 99, 99])

In [62]:
m.sort()
print (m)

AttributeError: 'array.array' object has no attribute 'sort'

In [63]:
# concatenation or merging of two arrays
import array as b
z = b.array ("i", [89, 56, 23, 12, 45, 78])
y = b.array ("i", [78, 45, 12, 23, 56])

print (z)
print (y)
result = z + y
print (result)

print (z)
print (y)
result = y + z
print (result)

array('i', [89, 56, 23, 12, 45, 78])
array('i', [78, 45, 12, 23, 56])
array('i', [89, 56, 23, 12, 45, 78, 78, 45, 12, 23, 56])
array('i', [89, 56, 23, 12, 45, 78])
array('i', [78, 45, 12, 23, 56])
array('i', [78, 45, 12, 23, 56, 89, 56, 23, 12, 45, 78])

In [64]:
y.extend (z)
print (y)

array('i', [78, 45, 12, 23, 56, 89, 56, 23, 12, 45, 78])

In [65]:
print (y)
print (z)

array('i', [78, 45, 12, 23, 56, 89, 56, 23, 12, 45, 78])
array('i', [89, 56, 23, 12, 45, 78])

In [66]:
print (y)
del y[7] #index value
print (y)

array('i', [78, 45, 12, 23, 56, 89, 56, 23, 12, 45, 78])
array('i', [78, 45, 12, 23, 56, 89, 56, 12, 45, 78])

In [67]:
del y[8:10]
print (y)

array('i', [78, 45, 12, 23, 56, 89, 56, 12])

In [68]:
del y[:] # all the elements
print (y)

array('i')

In [69]:
y.append (64)
y.append (675)

In [70]:
print (y)

array('i', [64, 675])

In [71]:
del y # delete array variable

In [72]:
print (y)

NameError: name 'y' is not defined

In [73]:
print (z)

array('i', [89, 56, 23, 12, 45, 78])

In [74]:
# remove ()
z.remove (12) # element value
print (z)

array('i', [89, 56, 23, 45, 78])

In [75]:
z.pop (1) # index value
print (z)

array('i', [89, 23, 45, 78])