In [1]:
# Python3 program to remove duplicates Function to remove duplicate elements

# This function returns new size of modified array.
def removeDuplicates(arr, n):

# Return, if array is empty or contains a single element
	if n == 0 or n == 1:
		return n

	temp = list(range(n))

	# Start traversing elements
	j = 0;
	for i in range(0, n-1):

		# If current element is not equal to next element then store that current element
		if arr[i] != arr[i+1]:
			temp[j] = arr[i]
			j += 1

	# Store the last element as whether it is unique or repeated, it hasn't stored previously
	temp[j] = arr[n-1]
	j += 1
	
	# Modify original array
	for i in range(0, j):
		arr[i] = temp[i]

	return j

# Driver code
arr = [1, 2, 2, 3, 4, 4, 4, 5, 5]
n = len(arr)

# removeDuplicates() returns
# new size of array.
n = removeDuplicates(arr, n)

# Print updated array
for i in range(n):
	print ("%d"%(arr[i]), end = " ")

	# This code is contributed by aadityaburukwale.

1 2 3 4 5

In [3]:
# A simple example
a = [1,2,3,4,5,6] # list data type
b = (1,2,3,4,5,6) # tuple data type
c = {1,2,3,4,5,6} # set data type
print (a)
print (type(a))
print (b)
print (type(b))
print (c)
print (type(c))

import array as ar
d = ar.array ("i", [1,2,3,4,5,6,7,8])
print (d)
print (type(d))

import numpy as np
e = np.array ([1,2,3,4,5,6,7,8])
print (e)
print (type(e))

[1, 2, 3, 4, 5, 6]
<class 'list'>
(1, 2, 3, 4, 5, 6)
<class 'tuple'>
{1, 2, 3, 4, 5, 6}
<class 'set'>
array('i', [1, 2, 3, 4, 5, 6, 7, 8])
<class 'array.array'>
[1 2 3 4 5 6 7 8]
<class 'numpy.ndarray'>

In [14]:
# define set 
s = {1,2,3,4,5}
s1 = {99,12, 45, 78, "Virendra", 88}
print (s)
print (s1) # it will print random order of elements
print (type(s))
print (type(s1))
s2 = {"Singh", 45, 98, (6,2,8), (9,6)} 
# list and set inside a set will not be possible, 
# only tuple can be possible.
print (s2)
print (type(s2))

{1, 2, 3, 4, 5}
{'Virendra', 99, 88, 12, 45, 78}
<class 'set'>
<class 'set'>
{(6, 2, 8), 'Singh', 98, (9, 6), 45}
<class 'set'>

In [24]:
# using set () method
myset = set ("HellHoel") 
myset1 = set ({1,2,4, 2, 4,7})
myset2 = set ({"HellHoel"})
myset3 = set ({"HellHoel", "fgg", "sdjd", "fgg"})
print (myset) # it will print only distint elements
print (myset1) # it will print only distint elements
print (myset2)
print (myset3)

{'l', 'o', 'e', 'H'}
{1, 2, 4, 7}
{'HellHoel'}
{'fgg', 'HellHoel', 'sdjd'}

In [27]:
# operations of set data type
myset1.add (99)
myset1.add (77)
print (myset1)

myset1.add (199)
myset1.add (77) #already exist into the set
print (myset1)

{1, 2, 99, 4, 7, 77}
{1, 2, 99, 4, 7, 199, 77}

In [29]:
# we want to add more than one elements at one time
#print (myset1)
myset1.update([66,55,22,199,77,67])
print (myset1)

{1, 2, 99, 4, 66, 67, 7, 199, 77, 22, 55}
{1, 2, 99, 4, 66, 67, 7, 199, 77, 22, 55}

In [30]:
print (myset1)
myset1.discard (67) # element which is to be removed
print (myset1)

{1, 2, 99, 4, 66, 67, 7, 199, 77, 22, 55}
{1, 2, 99, 4, 66, 7, 199, 77, 22, 55}

In [31]:
myset1.remove(22)
print (myset1)

{1, 2, 99, 4, 66, 7, 199, 77, 55}

In [32]:
myset1.discard (22)
print (myset1)

{1, 2, 99, 4, 66, 7, 199, 77, 55}

In [33]:
myset1.remove(22)

KeyError: 22

In [35]:
temp = set ({5,6,7,8,9})
print (temp)
temp.discard (8)
print (temp)

{5, 6, 7, 8, 9}
{5, 6, 7, 9}

In [36]:
temp.discard (8)
print (temp)

{5, 6, 7, 9}

In [37]:
temp.remove (9)
print (temp)

{5, 6, 7}

In [38]:
temp.remove (9)
print (temp)

KeyError: 9

In [39]:
print (myset1)
myset1.pop ()
print (myset1)

{1, 2, 99, 4, 66, 7, 199, 77, 55}
{2, 99, 4, 66, 7, 199, 77, 55}

In [40]:
myset1.pop() # to populate one element at one time from first position
print (myset1)

{99, 4, 66, 7, 199, 77, 55}

In [42]:
myset1.clear() # clear all the elements
print (myset1)

set()

In [2]:
a = [3,5,6,8,1,9]
b = (3,5,6,8,1,9)
c = "Virendra Singh"

print (a)
print (type (a))

print (b)
print (type(b))

print (c)
print (type(c))

[3, 5, 6, 8, 1, 9]
<class 'list'>
(3, 5, 6, 8, 1, 9)
<class 'tuple'>
Virendra Singh
<class 'str'>

In [3]:
import array as ar
d = ar.array ("i", [3, 5, 6, 8, 1, 9])
print (d)
print (type (d))

array('i', [3, 5, 6, 8, 1, 9])
<class 'array.array'>

In [4]:
import numpy as ar
e = ar.array ([3, 5, 6, 8, 1, 9])
print (e)
print (type (e))

[3 5 6 8 1 9]
<class 'numpy.ndarray'>

In [5]:
print (type(a))
print (type(b))
print (type(c))
print (type(d))
print (type(e))

<class 'list'>
<class 'tuple'>
<class 'str'>
<class 'array.array'>
<class 'numpy.ndarray'>

In [7]:
f = {()} #empty set
print (f) 
print (type(f))

{()}
<class 'set'>

In [9]:
myset = {12, 45, 78, 67, 13, 99, 4}
print (myset)

{99, 67, 4, 45, 12, 13, 78}

In [10]:
myset = {12, 45, 78, 67, 13, 99, 4, 67, 334, 44, 78, 99}
print (myset)

{99, 67, 4, 12, 13, 45, 78, 334, 44}

In [11]:
myset1 = {63, "virendra", 9.6, 78, 3.5, 9.6, 5.2, 44, 74, 78}
print (myset1)

{'virendra', 3.5, 5.2, 9.6, 74, 44, 78, 63}

In [12]:
myset2 = {56, 67, 88, {67, 99, 33}, "ghyt"} #set inside a set- error

TypeError: unhashable type: 'set'

In [13]:
myset2 = {56, 67, 88, [67, 99, 33], "ghyt"} #list inside a set - error

TypeError: unhashable type: 'list'

In [15]:
myset2 = {56, 67, 88, (67, 99, 33), "ghyt"}
print (myset2)

{(67, 99, 33), 67, 56, 'ghyt', 88}

In [16]:
myset3 = {56, 58, 89, 102, 107}
print (myset3)

{102, 56, 89, 58, 107}

In [17]:
myset3 = {56, 57, 58, 59, 60}
print (myset3)

{56, 57, 58, 59, 60}

In [18]:
myset4 = {60, 59, 58, 57, 56}
print (myset4)

{56, 57, 58, 59, 60}

In [23]:
l = list ([1,2,3])
print (l)
t = tuple ((2,4,5))
print (t)

[1, 2, 3]
(2, 4, 5)

In [27]:
news = set ({13,44,25,67,18,12,88,2,34})
print (news)

{2, 67, 34, 44, 13, 12, 18, 88, 25}

In [30]:
news1 = set ({"tyop", 13,44, " singh", 25,67,18,(56, 67,77), 12,88,2, " singh" ,34, (56, 67,77)})
print (news1)

{2, 67, 34, ' singh', (56, 67, 77), 'tyop', 44, 13, 12, 18, 88, 25}

In [31]:
news2 = set ({"tyop", 13,44, " singh", 25,67,18,(56, 67,77), 12,88,2, " singh" ,34, (56, 67,77)})
print (news2)

{2, 67, 34, ' singh', (56, 67, 77), 'tyop', 44, 13, 12, 18, 88, 25}

In [32]:
news = set ({13,44,25,67,18,12,88,2,34})
print (news)

{2, 67, 34, 44, 13, 12, 18, 88, 25}

In [33]:
news.add (999)
print (news)

{2, 67, 34, 999, 44, 13, 12, 18, 88, 25}

In [35]:
news.add (996)
news.add (999) #duplicate - already exist into the set
news.add (909)
print (news)

{2, 67, 34, 996, 999, 44, 13, 12, 909, 18, 88, 25}

In [36]:
news.pop ()
print (news)

{67, 34, 996, 999, 44, 13, 12, 909, 18, 88, 25}

In [37]:
news.pop ()
news.pop ()
print (news)

{996, 999, 44, 13, 12, 909, 18, 88, 25}

In [38]:
news.remove (909)
print (news)

{996, 999, 44, 13, 12, 18, 88, 25}

In [39]:
news.remove (909)

KeyError: 909

In [40]:
print (news)
news.discard (12)
print (news)

{996, 999, 44, 13, 12, 18, 88, 25}
{996, 999, 44, 13, 18, 88, 25}

In [42]:
news.discard (12)
print (news)

{996, 999, 44, 13, 18, 88, 25}

In [44]:
# add multiple elements into the set
news.add (1234)
print (news)
news.update ([666, 777, 888, 777, 999, 666])
print (news)

{996, 999, 44, 13, 18, 1234, 88, 25}
{996, 999, 777, 44, 13, 18, 1234, 888, 88, 25, 666}

In [47]:
t1 = {6,8,9}
t2 = {7,3,5}
print (t1+t2)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [48]:
# remove or clear all the elements from a set
print (news)
news.clear ()
print (news)

{996, 999, 777, 44, 13, 18, 1234, 888, 88, 25, 666}
set()