In [1]:
import array as ar

temp = []
n = int (input ("Enter total elements: "))
for i in range (n):
    num = int (input ("Enter number : "))
    temp.append (num)
print (temp)
arv = ar.array ("i", temp)
print (arv)

Enter total elements: 6
Enter number : 12
Enter number : 56
Enter number : 45
Enter number : 98
Enter number : 23
Enter number : 78
[12, 56, 45, 98, 23, 78]
array('i', [12, 56, 45, 98, 23, 78])

In [2]:
temp1 = {} #empty dictionary
print (type (temp1))

temp2 = {()} #empty set
print (type (temp2))

<class 'dict'>
<class 'set'>

In [3]:
#empty dictionary
a = {}
print (a)
print (type(a))

b={}
b=set()
print (b)
print (type(b))

{}
<class 'dict'>
set()
<class 'set'>

In [4]:
#SET
c={1,2,3,4} #or c=set()
print (type(c))

c={} #dictionary
print (type(c))

#dictionary with integer keys
d = {1:'Apple', 2:'Ball'} #key:value
print (d)

<class 'set'>
<class 'dict'>
{1: 'Apple', 2: 'Ball'}

In [5]:
#dictionary with integer keys
d = {1:'Apple', 2:'Ball', 3:'virendra', 3:88, 1:'singh'} #key:value
print (d)

{1: 'singh', 2: 'Ball', 3: 88}

In [6]:
#dictionary with integer keys
d = {11:'Apple', 22:'Ball', 13:'virendra', 3:88, 17:'singh'} #key:value
print (d)

{11: 'Apple', 22: 'Ball', 13: 'virendra', 3: 88, 17: 'singh'}

In [7]:
#dictionary with integer, string keys
d = {11:'Apple', '22':'Ball', 13:'virendra', '3':88, 17.9:'singh'} #key:value
print (d)

{11: 'Apple', '22': 'Ball', 13: 'virendra', '3': 88, 17.9: 'singh'}

In [8]:
a = []
b = ()
c = {()}
d = {}
print (type(a))
print (type(b))
print (type(c))
print (type(d))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [9]:
a = list()
b = tuple()
c = set ()
d = dict ()
print (type(a))
print (type(b))
print (type(c))
print (type(d))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [10]:
x = {'name':'virendra', 'age':56, 56:[12,34,76,8]}
print (x)
print (type(x))

{'name': 'virendra', 'age': 56, 56: [12, 34, 76, 8]}
<class 'dict'>

In [11]:
y = dict (x)
print (y)

{'name': 'virendra', 'age': 56, 56: [12, 34, 76, 8]}

In [12]:
y= 56
print (y)
print (type (y))

y = x 
print (y)
print (type (y))

56
<class 'int'>
{'name': 'virendra', 'age': 56, 56: [12, 34, 76, 8]}
<class 'dict'>

In [13]:
#dictionary with integer, string keys
d = {11:'Apple', '22':'Ball', 13:'virendra', '3':88, 17.9:'singh'} #key:value
print (d)

r = d[13]
print (r)
print (d['3']) #key
res = d.get('22') #key
print (res)

{11: 'Apple', '22': 'Ball', 13: 'virendra', '3': 88, 17.9: 'singh'}
virendra
88
Ball

In [14]:
stdrec = {101:'Virendra', 102:'Neha', 105:'Golu', 109:'Reddy', 104:'Perminder'}
print(stdrec)

a = int (input ("Enter the key: "))
b = stdrec[a]
print (b)

a = int (input ("Enter the key: "))
b = stdrec.get(a)
print (b)

print (len(stdrec))

{101: 'Virendra', 102: 'Neha', 105: 'Golu', 109: 'Reddy', 104: 'Perminder'}
Enter the key: 105
Golu
Enter the key: 109
Reddy
5

In [15]:
# update 
stdrec[104] = 'Ayush'
print (stdrec)

{101: 'Virendra', 102: 'Neha', 105: 'Golu', 109: 'Reddy', 104: 'Ayush'}

In [16]:
# add an item (key and value)
stdrec [107] = 'ASD'
print (stdrec)

{101: 'Virendra', 102: 'Neha', 105: 'Golu', 109: 'Reddy', 104: 'Ayush', 107: 'ASD'}

In [17]:
a = []
b = ()
c = {()}
d = {}

print (type(a))
print (type(b))
print (type(c))
print (type(d))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [18]:
a = list ()
b = tuple ()
c = set ()
d = dict ()
import array as ar
e = ar.array ("i", [])

print (type(a))
print (type(b))
print (type(c))
print (type(d))
print (type(e))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'array.array'>

In [19]:
t = {4:'viren', 8:'gui', 5:'wer'}
print (t)

{4: 'viren', 8: 'gui', 5: 'wer'}

In [20]:
print (len(t))

3

In [21]:
d1 = {12:'Viren', 23:'Type', 90:'bhu', 34:'qwe', 23:'Neha', 78:'qwe'}
print (d1)

{12: 'Viren', 23: 'Neha', 90: 'bhu', 34: 'qwe', 78: 'qwe'}

In [22]:
d1 = {12:'Viren', 23:'Type', 90:'bhu', 34:'qwe', 23:'Neha', 78:'qwe', '23':'Type'}
print (d1)

{12: 'Viren', 23: 'Neha', 90: 'bhu', 34: 'qwe', 78: 'qwe', '23': 'Type'}

In [23]:
d2 = {'n':'777', 99:999, 97:[5,4,6], 21:(6,4,7), 89:54, 54:89}
print (d2)

{'n': '777', 99: 999, 97: [5, 4, 6], 21: (6, 4, 7), 89: 54, 54: 89}

In [24]:
d2 = {'n':'777', 99:999, 97:[5,4,6], 21:(6,4,7), 89:54, 54:89, (6,4,6):'hello',
      89.5455:87445}
print (d2)
# Key can not be a 'list' or 'set' type but these can be a value.
# A tuple can be a key or value, both.

{'n': '777', 99: 999, 97: [5, 4, 6], 21: (6, 4, 7), 89: 54, 54: 89, (6, 4, 6): 'hello', 89.5455: 87445}

In [25]:
# using dict ()
a = dict ({7:889, 'q':899, 8:4, 9:1})
print (a)
print (type(a))

{7: 889, 'q': 899, 8: 4, 9: 1}
<class 'dict'>

In [26]:
# Create a dictionary of 10 students reg. nos. and their names
# key:value ---> regno:name
stdrec = {101: 'Virendra',
         102: 'Neha',
         103:'Golu',
         104: 'Jia', 
         105:'Reddy',
         106: 'Reva',
         108: 'Scorpian',
         109: 'Snale',
         110: 'Cobra'}
print (stdrec)

{101: 'Virendra', 102: 'Neha', 103: 'Golu', 104: 'Jia', 105: 'Reddy', 106: 'Reva', 108: 'Scorpian', 109: 'Snale', 110: 'Cobra'}

In [27]:
t = stdrec[105]
print (t)

t1 = stdrec.get (105)
print (t1)

Reddy
Reddy

In [28]:
t2 = stdrec[107]
print (t2)

KeyError: 107

In [29]:
print (stdrec)
reg = int (input ("Enter the registration no.: "))
res = stdrec[reg]
print (res)

{101: 'Virendra', 102: 'Neha', 103: 'Golu', 104: 'Jia', 105: 'Reddy', 106: 'Reva', 108: 'Scorpian', 109: 'Snale', 110: 'Cobra'}
Enter the registration no.: 104
Jia

In [30]:
# update the value
print (stdrec)
stdrec[110] = 'Python'
print (stdrec)

{101: 'Virendra', 102: 'Neha', 103: 'Golu', 104: 'Jia', 105: 'Reddy', 106: 'Reva', 108: 'Scorpian', 109: 'Snale', 110: 'Cobra'}
{101: 'Virendra', 102: 'Neha', 103: 'Golu', 104: 'Jia', 105: 'Reddy', 106: 'Reva', 108: 'Scorpian', 109: 'Snale', 110: 'Python'}

In [31]:
# add an item (key:value)
stdrec [111] = 'Good'
print (stdrec)

{101: 'Virendra', 102: 'Neha', 103: 'Golu', 104: 'Jia', 105: 'Reddy', 106: 'Reva', 108: 'Scorpian', 109: 'Snale', 110: 'Python', 111: 'Good'}

In [32]:
stdrec [111] = 'Best'
print (stdrec)

{101: 'Virendra', 102: 'Neha', 103: 'Golu', 104: 'Jia', 105: 'Reddy', 106: 'Reva', 108: 'Scorpian', 109: 'Snale', 110: 'Python', 111: 'Best'}

In [33]:
stdrec ['111'] = 'Best'
print (stdrec)

{101: 'Virendra', 102: 'Neha', 103: 'Golu', 104: 'Jia', 105: 'Reddy', 106: 'Reva', 108: 'Scorpian', 109: 'Snale', 110: 'Python', 111: 'Best', '111': 'Best'}

In [34]:
print (stdrec)
k = int (input ("Enter the reg as key: "))
flag = 0
for c in stdrec:
    #print (c==k)
    if c == k: #101 == 194
        print ("You have entered already exist reg / key. Please add another one.")
        flag = 1

if flag == 1:
    print ("No need to make a record.")

if flag == 0:
    name = input ("Enter student name: ")
    stdrec[k] = name

print (stdrec)

{101: 'Virendra', 102: 'Neha', 103: 'Golu', 104: 'Jia', 105: 'Reddy', 106: 'Reva', 108: 'Scorpian', 109: 'Snale', 110: 'Python', 111: 'Best', '111': 'Best'}
Enter the reg as key: 110
You have entered already exist reg / key. Please add another one.
No need to make a record.
{101: 'Virendra', 102: 'Neha', 103: 'Golu', 104: 'Jia', 105: 'Reddy', 106: 'Reva', 108: 'Scorpian', 109: 'Snale', 110: 'Python', 111: 'Best', '111': 'Best'}